*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    padding: 20px;
    margin: 10px;
}
h1{
    text-align: center;
    background-color:cadetblue;
    padding: 20px 0px;
    margin-bottom: 40px;
}
h3{
    text-decoration: underline;
    background-color:mintcream;
}

label, p, h3{
    margin-left: 5px;
}

input[type="text"] {
    width: 3fr;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type="text"]:focus {
    border: 3px solid #555;
}

table {
    width: 60%;
    border: 5px double grey;
    margin: 20px;
    text-align: center;
}